
<section class="social">
  <h1>Jessica Oakes</h1>
  <p>I'm a full stack web developer living in Minneapolis</p><span>Let's connect!</span>
  <hr class="title-line"/>
  <ul class="site-nav">
    <li class="link-nav"><a href="https://github.com/oakesjessica" target="_blank"><i class="fa fa-nav fa-2x fa-github"></i></a></li>
    <li class="link-nav"><a href="https://linkedin.com/in/oakesjessica" target="_blank"><i class="fa fa-nav fa-2x fa-linkedin"></i></a></li>
    <li class="link-nav"><a href="mailto:jessica@oakesdev.com" target="_blank"><i class="fa fa-nav fa-2x fa-envelope"></i></a></li>
  </ul>
</section>