/********************************GENERAL*********************************/

html, header, body, footer {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-size: 100%;
    font: inherit;
}

html, body {
    font-family: arial, verdana, helvetica;
    background: #7fbfbf;
    background-size: cover;
}

/*header {
    border: 1px solid red;
}

body {
    border: 1px solid blue;
}

footer {
    border: 1px solid green;
}*/

.soon {
    font-size: 11px;
}
/********************************HEADERS*********************************/
.menu {
    padding: 20px;
}

.siteTitle, .mainNav {
    display: inline;
}

.siteTitle {
    color: #FFFFFF;
}

.siteNav {
    display: inline;
    list-style-type: none;
}

.pageNav, .contactNav {
    display: inline;
    padding: 8px;
    margin: 0px 0px 0px 14px;
}

.pageNav {
    transition: border-bottom 0.3s ease-in;
    border-bottom: 3.5px solid transparent;
}

.pageNav:hover {
    border-bottom-color: #008080;
}

.contactNav {
    border: 3.5px solid #FFFFFF;
    border-radius: 10px;
    transition: border 0.3s ease-in;
}

.contactNav:hover {
    border-color: #008080;
}

/********************************LINKS*********************************/
a, a:link {
    text-decoration: none;
    color: #FFFFFF;
}

/********************************MAIN BODY*********************************/
main, footer {
    padding: 20px;
}
