html, header, body, footer {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-size: 100%;
    font: inherit;
}

html, body {
    font-family: arial, verdana, helvetica;
    background: #7fbfbf;
    background-size: cover;
}

header, body, footer {
    border: 1px solid black;
}

.navLinks {
    list-style-type: none;
    padding-top: 16px;
}

.menuLink, .contactLink {
    color: #FFFFFF;
    display: inline;
    padding: 5px 0px 10px;
    margin-left: 37px;
}

.menuLink {
    transition: border-top .25s ease-in;
    border-top: 3.5px solid transparent;
}

.menuLink:hover {
    border-top-color: #008080;
}

.menuLink:active {
    border-top-color: #000000
}

.contactLink {
    padding: 5px;
    border: 3px solid white;
    border-radius: 5px;
}

a, .aLink:link {
    color: #FFFFFF;
    text-decoration: none;
}
