/********************************GENERAL*********************************/

html, header, body, footer {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-size: 100%;
    font: inherit;
}

html, body {
    height: 100vh;
    width: 100vw;
    font-family: arial, verdana, helvetica;
    background: linear-gradient(rgba(39,40,51, 0.8), rgba(147,147,153, 0.8)), url("../images/background-main.jpg") #5a9b9b;
    background-size: cover;
    color: #CCCCCC;
}

/********************************MAIN*********************************/
.about {
  background: rgba(40, 40, 40, 0.4);
  padding: 0px 10px;
  float: right;
  margin: 20px;
  width: 40vw;
  border-radius: 20px;
}

.social {
  padding: 5px 0px 20px 0px;
  text-align: center;
}

.site-nav {
  list-style-type: none;
  display: inline;
}

.link-nav {
  display: inline;
  margin: 10px;
}

.fa {
  color: #FFFFFF;
  padding: 7px;
  border: 1.5px solid #FFFFFF;
  border-radius: 2px;
}

.description {
  color: #FFFFFF;
}
