html {
  font-family: arial, verdana, helvetica, FontAwesome;
  text-align : center;
  background : black;
  color : white;
}

body {
  padding : 10px 0;
}
.profile-pic {
  height : 200px;
  width : auto;
  border-radius : 50%;
}

.connect-link {
  margin : 0 30px;
  color : white;
}